Node_Red/node-red.json
[{"id":"4917d7c4.c7c3e8","type":"lora in","z":"84936bb6.5dfd58","name":"","datatype":"utf8","x":232,"y":474,"wires":[["fbd8ce22.524a4","963fdc09.c79b3"]]},{"id":"fbd8ce22.524a4","type":"function","z":"84936bb6.5dfd58","name":"Data Transform","func":"// console.log(msg.payload);\nvar parts = msg.payload.split(\",\");\n// F,rh,ppm,ppmc\nvar temp = parseFloat(parts[0]);\nvar humidity = parseFloat(parts[1]);\nvar ppm = parseFloat(parts[2]);\nvar ppmc = parseFloat(parts[3].split(\";\")[0]);\n\n// var num = parseInt(msg.payload)\n// if(isNaN(num)){\n//     num = -1;\n// } else {\n//     num = num/100;\n// }\n// console.log(num)\n\nvar now = new Date().getTime()\nvar data = {\n    \"ts\": now,\n    // \"value\": {\n    \"ppm\":ppm,\n    \"humidity\":humidity,\n    \"temp\":temp,\n    \"ppmc\": ppmc\n    \n    // },\n}\n// var data = {\n//     \"ts\": now,\n//     \"value\": \n//     num\n//     // {\n//     //     \"thermister\": num\n//     // }\n// }\n\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":447,"y":558,"wires":[["34193880.a65078","67fee59f.f2d6ec"]]},{"id":"34193880.a65078","type":"http request","z":"84936bb6.5dfd58","name":"","method":"POST","ret":"txt","url":"http://44.233.77.231:8080/api/v1/cbhg7dm8qgrfdbgqhvt9/telemetry","tls":"","x":561.9999961853027,"y":415.0000114440918,"wires":[[]]},{"id":"307a4000.46e25","type":"debug","z":"84936bb6.5dfd58","name":"","active":true,"console":"false","complete":"false","x":786.0000305175781,"y":700.0000143051147,"wires":[]},{"id":"cbecf79f.53f748","type":"debug","z":"84936bb6.5dfd58","name":"","active":true,"console":"false","complete":"payload","x":918,"y":486.00000858306885,"wires":[]},{"id":"963fdc09.c79b3","type":"debug","z":"84936bb6.5dfd58","name":"","active":true,"console":"false","complete":"false","x":383,"y":651,"wires":[]},{"id":"9125c574.5525b8","type":"http request","z":"84936bb6.5dfd58","name":"","method":"POST","ret":"obj","url":"a13qtgnmiuii6z-ats.iot.us-west-2.amazonaws.com:8443/topics/moldy1?qos=1","tls":"727bd305.b457fc","x":740.8298950195312,"y":543.2708873748779,"wires":[["cbecf79f.53f748"]]},{"id":"67fee59f.f2d6ec","type":"function","z":"84936bb6.5dfd58","name":"IOT Core transform","func":"// {\"ts\":1667705639811,\"ppm\":494.596222,\"humidity\":35,\"temp\":71.599998,\"ppmc\":445.847168}\n\nvar data = JSON.parse(msg.payload)\ndata['sample_time'] = data['ts']\ndata['device_id'] = '1'\n\ndelete data['ts']\n//msg.payload = JSON.stringify(data);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":627.9480285644531,"y":636.2153453826904,"wires":[["307a4000.46e25","9125c574.5525b8"]]},{"id":"727bd305.b457fc","type":"tls-config","z":"","name":"","cert":"/home/root/3ff7f9e8314dff71424ae58b618ec063a2b62f67901cd9beee4d31f61b3b5d06-certificate.pem.crt.txt","key":"/home/root/3ff7f9e8314dff71424ae58b618ec063a2b62f67901cd9beee4d31f61b3b5d06-private.pem.key","ca":"/home/root/AmazonRootCA1.pem","verifyservercert":false}]